<div >
  <h3 matsubheader style="text-align: center">My Vk groups ({{groups && groups.length}})</h3>
  <div style="padding:0px 18px;height:90%; overflow-y:scroll;">
    <div fxLayout="column">
      <mat-card *ngFor="let group of groups" fxFlex style="margin-bottom:10px;" (click)="selectGroup(group)" >
        <mat-card-title style="border-bottom: lightgray solid 1px;padding-bottom:4px;font-size:18px">
          <img class="avatar-group" [src]="group.photo_50"/>
          <span>{{group.name}}</span>
        </mat-card-title>
        <mat-card-content>
            {{group.description}}
        </mat-card-content>
      </mat-card>
  </div>
  </div>
</div>