<div fxFlexFill fxLayout="column">
  <div fxLayout="row" fxLayoutWrap style="padding-left:10px;padding-top:5px">
    <a href="#" class="sort-link" style="color:grey!important">Viewed</a>
    <a href="#" class="sort-link" style="color:bluegrey!important">Liked</a>
    <a href="#" class="sort-link" style="color:grey!important">Recent</a>
  </div>
  <div fxFlex fxLayout="row" fxLayoutWrap style="overflow:auto;">
    <fsdu-card fxFlex="100vw" fxFlex.gt-sm="19.6vw" *ngFor="let fsdu of fsduList" [fsdu]="fsdu"></fsdu-card>
  </div>
</div>
