<div fxFlexFill fxLayout="column">
    <h3 *ngIf="currentGroup">Group {{currentGroup.name}}</h3>
    <mat-tab-group style="padding-right:30px" (selectChange)="onLinkClick($event)">
        <mat-tab [label]="'Settings' | translate">
            <matcard>
                <form>
                    <div fxLayout="row">
                        <mat-select fxFlex="40" style="margin-top:10px" placeholder="Choose a publication frequency" [(ngModel)]="settingsGroup && settingsGroup.publicationFrequency"
                            name="publicationFrequency" (ngModelChange)="emptyCustomValue()">
                            <mat-option [value]="0">Don't publish</mat-option>
                            <mat-option [value]="15">Every 15 minutes</mat-option>
                            <mat-option [value]="30">Every 30 minutes</mat-option>
                            <mat-option [value]="45">Every 45 minutes</mat-option>
                            <mat-option [value]="60">Every hour</mat-option>
                            <mat-option [value]="120">Every 2 hours</mat-option>
                            <mat-option [value]="180">Every 3 hours</mat-option>
                            <mat-option [value]="240">Every 4 hours</mat-option>
                            <mat-option [value]="300">Every 5 hours</mat-option>
                            <mat-option [value]="360">Every 6 hours</mat-option>
                            <mat-option [value]="720">Every 12 hours</mat-option>
                            <mat-option [value]="1440">Once a day</mat-option>
                        </mat-select>
                        <span fxFlexOffset="2" fxFlex="5" style="margin-top:15px">or</span>
                        <mat-form-field fxFlex="35">
                            <input mdInput placeholder="Type a customize value (minutes)" min="0" type="number" [(ngModel)]="settingsGroup && settingsGroup.publicationFrequencyCustom" name="publicationFrequencyCustom"
                                style="text-align:center" (ngModelChange)="emptySelectValue()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="20">
                            <input mdInput placeholder="Add your topics" type="text" [(ngModel)]="newTopic" (ngModelChange)="filterSuggestedTopicList()"
                                name="newTopic" [mdAutocomplete]="auto">
                            <span *ngIf="error" class="error-message">{{error}}</span>
                        </mat-form-field>
                        <matautocomplete #auto="mdAutocomplete">
                            <mat-option *ngFor="let suggestedTopic of filteredSuggestedTopicList" [value]="suggestedTopic">
                                {{suggestedTopic}}
                            </mat-option>
                        </matautocomplete>
                        <button fxFlex="5" maticon-button (click)="addTopic()" style="margin-top:5px">
                                        <maticon>add</maticon>
                                    </button>
                        <matchip-list  *ngIf="settingsGroup" fxFlexOffset="1" fxFlex="75" style="margin-top:10px">
                            <matchip *ngFor="let topic of settingsGroup.topicList" style="margin-right:5px">
                                {{topic}}
                                <maticon (click)="removeTopic(topic)" style="font-size:16px;cursor:pointer;right: -15px;height: 8px;width: 8px;">close</maticon>
                            </matchip>
                        </matchip-list>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end" (click)="saveSettings()">
                        <button matraised-button>Save</button>
                    </div>
                </form>
        </matcard>
        </mat-tab>
        <mat-tab [label]="'Suggested posts' | translate">
            <matspinner *ngIf="suggestedPostsLoading" style="margin-left:auto; margin-right:auto"></matspinner>
            <div *ngIf="!suggestedPostsLoading" >
                <matcard *ngFor="let post of suggestedPosts" style="margin-bottom:16px">
                    <mat-form-field *ngIf="post.text!==''" placeholder="Address" style="width: 100%">
                        <textarea mdInput style="height:100px;">{{post.text}}</textarea>
                    </mat-form-field>
                    <img style="width:50%; margin-left:auto; margin-right:auto;" *ngIf="post.attachment && post.attachment.photo" [src]="post.attachment.photo.src_big"/>
                    <div fxLayout="row" fxLayoutAlign="end">
                        <span style="margin-right:8px">
                            {{post.likes.count}}
                            <maticon>thumb_up</maticon>
                        </span>
                        <span>
                            {{post.reposts.count}}
                            <maticon>share</maticon>
                        </span>
                    </div>
                </matcard>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>